# Ignore the virtual environment
venv

# Ignore compiled Python source files
*.pyc

# Ignore SQLite database files
*.sqlite3

# Ignore test artifacts
src/*.coverage
src/*.xml

# Ignore the target folder containing our binary artifacts
target/

# Ignore the target folder containing our test reports
reports/